/* --css styling for whole documents-- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --styling header elements-- */
header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('images/bgroundpic.jpg');
    background-size: cover;
    font-family: sans-serif;
}

/* --styling navigation elements-- */
nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* --logo element-- */
.logo{
    font-size: 2em;
    letter-spacing: 3px;
}

/* --styling menu elements-- */
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}

/* --styling .menu a item before-- */
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}

/* --style .menu a:hover::before element-- */
.menu a:hover:before{
    width: 90%;
}

/* --styling register button-- */
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 8px;
    transition: 0.3s;
}

/* --styling .register a hover-- */
.register a:hover{
    background: transparent;
    border: 1px solid indigo;
}

/* --styling section elements-- */
.h-txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

/*--styling h-txt span items-- */
.h-txt span{
    letter-spacing: 5px;
}

/* --styling h-txt heading element-- */
.h-txt h1{
    font-size: 3.5em;
}

/* --styling h-txt a element-- */
.h-txt a{
    text-decoration: none;
    background: rgb(0, 130, 119);
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.3s;
}

/* --styling the h-txt a text hover-- */
.h-txt a:hover{
    background: transparent;
    border: 1px solid rgb(117, 130, 0);
}
